<form id="gradeForm" action="<%= interviews_path %>" method="get" class="mb-3">
  <label for="gradiesFilter" class="mb-2"><%= t('vacancy.show.select_grade') %></label>

  <select class="form-select mb-2" 
          id="gradiesFilter" 
          name="grade_id" 
          data-grades-target="grade"
          data-vacancies-target="grade"
          data-action="grades#selectGrade">

    <option value="" <%= 'selected' if params[:grade_id].blank? %>>
      <%= t('selectors.all') %>
    </option>

    <% Grade.all.each do |grade| %>
      <option value="<%= grade.id %>" <%= 'selected' if params[:grade_id] == grade.id.to_s %>>
        <%= grade.title %>
      </option>
    <% end %>
  </select>
</form>
