<div class="col-md-10 mt-3 mb-3">
  <% if @interviews.empty? %>
    <p class='mt-2 display-6'><%= t('interviews.no_interview') %></p>
  <% else %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('entities.video') %></th>
            <th><%= t('entities.vacancy') %></th>
            <th><%= t('entities.grade') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= render @interviews %>
          </tr>
        </tbody>
    </table>
  <% end %>
</div>
