<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <div class='container mb-4 mt-4'>
      <div id="flash">
        <%= render 'shared/flash' %>
      </div>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
